<template name="footer">
    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="footer-nav">
                                <li class="footer-nav-title">Students and Fresh Grads</li>
                                <li><a href="h#">Sign up</a></li>
                                <li><a href="#">Internships</a></li>
                                <li><a href="#">Job Shadowing</a></li>
                                <li><a href="#">Apprenticeship</a></li>
                                <li><a href="#">Volunteering</a></li>
                                <li><a href="#">Entry Level Jobs</a></li>
                                <li><a href="#">Mentorship</a></li>
                                <li><a href="#">Trainings</a></li>
                                <li><a href="#">Students FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul class="footer-nav">
                                <li class="footer-nav-title">Employers</li>
                                <li><a href="#">Find Top Talents</a></li>
                                <li><a href="#">Sign-up</a></li>
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Employers Blog</a></li>
                                <li><a href="#">Employers FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row">

                        <div class="col-xs-6">
                            <ul class="footer-nav">
                                <li class="footer-nav-title">About Sesewa</li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Testimonials</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul class="footer-nav">
                                <li class="footer-nav-title">Opportunities</li>
                                <li><a href="#">Student Opportunities</a></li>
                                <li><a href="#">Fresh graduate opportunities</a></li>
                                <li><a href="#">Sesewa Ambassadors Program</a></li>
                            </ul>
                            <ul class="footer-nav clearfix">
                                <li class="footer-nav-title">Stay in Touch</li>
                                <span class="clearfix"></span>
                                <li class="social-icons"><a title="Sesewa on Twitter" href="http://twitter.com/sesewa"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-icons"><a title="Sesewa on Facebook" href="http://facebook.com/sesewanigeria"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-icons"><a title="Sesewa on Instagram" href="http://instagram.com/sesewanigeria"><i class="fa fa-instagram"></i></a></li>
                                <li class="social-icons"><a title="Sesewa on Google+" href="http://plus.google.com/b/105089609138698215257/105089609138698215257"><i class="fa fa-google-plus"></i></a></li>
                                <li class="social-icons"><a title="Sesewa on LinkedIn" href="http://ng.linkedin.com/in/sesewa"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                © 2016 Sesewa. All rights reserved.
            </div>
        </div>
    </div>

    {{> modals}}
</template>


<template name="modals">
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title text-center" id="signinModalLabel">Sign In to your account</h4>
                </div>
                <!--<form action="http://sesewa.herokuapp.com/intern/profile.php" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="signinModalLabel">Sign In to your account</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-group-lg">
                            <label>Email address</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group form-group-lg">
                            <label>Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="row margin-t-25">
                            <div class="col-xs-12 col-sm-5">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
                            </div>
                            <div class="col-xs-12 col-sm-7 margin-t-5">
                                <a href="http://sesewa.herokuapp.com/#">Forgot your password?</a>
                                <br>Don't have an account? <a href="http://sesewa.herokuapp.com/#" data-toggle="modal" data-target="#signupModal" data-dismiss="modal">Create one today!</a>
                            </div>
                        </div>
                    </div>
                </form>
                <h3>this is it</h3>-->
                {{> entrySignIn }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--<form action="http://sesewa.herokuapp.com/intern/setup.php" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="signupModalLabel">Create your Sesewa account</h4>
                    </div>
                    <div class="modal-body no-max-height">
                        <p class="text-center text-muted">Create your account using any of these social networks</p>
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                                <a href="http://sesewa.herokuapp.com/#" class="btn btn-block btn-social btn-lg btn-facebook"><i class="fa fa-facebook"></i>Sign up with Facebook</a>
                                <a href="http://sesewa.herokuapp.com/#" class="btn btn-block btn-social btn-lg btn-google"><i class="fa fa-google-plus"></i>Sign up with Google+</a>
                                <a href="http://sesewa.herokuapp.com/#" class="btn btn-block btn-social btn-lg btn-linkedin"><i class="fa fa-linkedin"></i>Sign up with Linkedin</a>
                            </div>
                        </div>
                        <div class="margin-t-25 margin-b-25 text-center text-muted">
                            OR
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 form-group form-group-lg">
                                <label>First name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-xs-12 col-sm-6 form-group form-group-lg">
                                <label for="">Last name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-group-lg">
                            <label>Email address</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group form-group-lg">
                            <label>Mobile number</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group form-group-lg">
                            <label>Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="form-group form-group-lg hide hidden">
                            <label>I am...</label>
                            <label class="radio radio-adjust">
                                <input type="radio" name="type"> a Secondary School student
                            </label>
                            <label class="radio radio-adjust">
                                <input type="radio" name="type"> an Undergraduate
                            </label>
                            <label class="radio radio-adjust">
                                <input type="radio" name="type"> a recent Graduate
                            </label>
                        </div>
                        <div class="text-muted margin-t-25">
                            <i class="fa fa-lock"></i> By creating an account with Sesewa, you agree to our <a href="http://sesewa.herokuapp.com/#">Terms
                                of Service</a>
                        </div>
                        <div class="margin-t-10">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Create account</button>
                        </div>
                    </div>
                </form>-->

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="signupModalLabel">Create your Sesewa account</h4>
                </div>
                {{> entrySignUp}}
            </div>
        </div>
    </div>

    <div class="modal fade" id="opportunityModal" tabindex="-1" role="dialog" aria-labelledby="opportunityModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="opportunityModalLabel">Volunteers needed for the Lagos Fashion Week
                        2016</h4>
                </div>
                <div class="modal-body">
                    <div class="article-share">
                        <div class="article-share-label hide">Recommend this: </div>
                        <a href="http://sesewa.herokuapp.com/#" title="Share this opportunity on Facebook" class="article-share-item">
                            <img src="./Sesewa_files/facebook.png" alt="Facebook">
                        </a>
                        <a href="http://sesewa.herokuapp.com/#" title="Share this opportunity on Twitter" class="article-share-item">
                            <img src="./Sesewa_files/twitter.png" alt="Twitter">
                        </a>
                        <a href="http://sesewa.herokuapp.com/#" title="Share this opportunity on Google+" class="article-share-item">
                            <img src="./Sesewa_files/google+.png" alt="Google+">
                        </a>
                        <a href="http://sesewa.herokuapp.com/#" title="Share this opportunity on LinkedIn" class="article-share-item">
                            <img src="./Sesewa_files/linkedin.png" alt="LinkedIn">
                        </a>
                        <a href="http://sesewa.herokuapp.com/#" title="Share this opportunity via Email" class="article-share-item">
                            <img src="./Sesewa_files/email.png" alt="Email">
                        </a>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam autem cumque dolorem doloribus esse facilis magnam mollitia, non numquam, omnis placeat porro quaerat recusandae, repudiandae soluta suscipit ut voluptatem.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam autem cumque dolorem doloribus esse facilis magnam mollitia, non numquam, omnis placeat porro quaerat recusandae, repudiandae soluta suscipit ut voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam autem cumque dolorem doloribus esse facilis magnam mollitia, non numquam, omnis placeat porro quaerat recusandae, repudiandae soluta suscipit ut voluptatem.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam autem cumque dolorem doloribus esse facilis magnam mollitia, non numquam, omnis placeat porro quaerat recusandae, repudiandae soluta suscipit ut voluptatem.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam autem cumque dolorem doloribus esse facilis magnam mollitia, non numquam, omnis placeat porro quaerat recusandae, repudiandae soluta suscipit ut voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam autem cumque dolorem doloribus esse facilis magnam mollitia, non numquam, omnis placeat porro quaerat recusandae, repudiandae soluta suscipit ut voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam autem cumque dolorem doloribus esse facilis magnam mollitia, non numquam, omnis placeat porro quaerat recusandae, repudiandae soluta suscipit ut voluptatem.
                    </p>
                    <br>
                    <div>
                        <h4 class="heading-with-underline">Requirements</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae consequuntur dolores doloribus ducimus eius eligendi eos expedita fuga ipsa iusto maiores nemo, nesciunt pariatur quod tempore unde vitae voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae consequuntur dolores doloribus ducimus eius eligendi eos expedita fuga ipsa iusto maiores nemo, nesciunt pariatur quod tempore unde vitae voluptatibus.
                        </p>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
