<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <!--<script type="text/javascript" charset="UTF-8" src="/assets/js/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/assets/js/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/assets/js/controls.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/assets/js/places_impl.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/assets/js/stats.js"></script>-->
</head>
