<template name="employerSetup">
    <h2 class="employer-setup-page-title">
        Setup your account<br>
        <small>Fill the form below to complete your account registration</small>
    </h2>

    <div class="container employer-setup-wrap">

        <form id="employer-setup-form">
            <fieldset>
                <legend>Company Details</legend>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Company Logo</label>
<!--                            <div> {{> dropzoneMi }} </div>-->
                            <div>{{> uploadForm}}</div>
                            <div>{{> uploadedFiles}}</div>
                            <img src="" alt="" id="uploaded-image" height="150" width="auto">
                            <input type="hidden" value="" name="company_logo" id="image-url">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label>Industry</label>
                            <select name="industry" id="" class="form-control">
                                <option value="Agriculture">Agriculture</option>
                                <option value="Energy">Energy</option>
                                <option value="Finance">Finance</option>
                                <option value="Information Technology">Information Technology</option>
                                <option value="Oil & Gas">Oil &amp; Gas</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Company Size</label>
                            <select name="company_size" id="" class="form-control">
                                <option value="1 - 10">1 - 10 employees</option>
                                <option value="11 - 50">11 - 50 employees</option>
                                <option value="51 - 200">51 - 200 employees</option>
                                <option value="201 - 500">201 - 500 employees</option>
                                <option value="500+">More than 500 employees</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Company type</label>
                            <select name="company_type" id="" class="form-control">
                                <option value="Sole ownership">Sole ownership</option>
                                <option value="Partnership">Partnership</option>
                                <option value="Privately held">Privately held</option>
                                <option value="Publicly traded">Publicly traded</option>
                                <option value="Nonprofit Organisation">Nonprofit Organisation</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea name="company_description" id="company_description" rows="10" class="form-control"></textarea>
                </div>

            </fieldset>
            <hr>
            <fieldset>
                <legend>Contact Details</legend>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="">Company Phone</label>
                        <input type="text" class="form-control" name="phone">
                    </div>
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="">Website</label>
                        <input type="text" class="form-control" name="website" value="http://">
                    </div>
                </div>
                <h5>Contact Person</h5>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" name="contact_person_name">
                    </div>
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="">Position</label>
                        <input id="" class="form-control" name="contact_person_position" type="text">
                    </div>
                </div>
                <h5>Company Address</h5>
                <div class="form-group">
                    <label>Street address</label>
                    <input type="text" class="form-control" name="company_address">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="">State</label>
<!--                        <select id="" class="form-control" name="company_state"></select>-->
                        <input id="" class="form-control" name="company_state" placeholder="e.g. Abuja">
                    </div>
                    <div class="col-xs-12 col-sm-6 form-group">
                        <label for="">City</label>
                        <input id="" class="form-control" name="company_city" placeholder="e.g. Abuja, Nigeria">
                    </div>
                </div>
                <div class="clearfix setup-btn-actions">
                    <button type="submit" class="btn btn-lg btn-primary">Setup Account</button>
                </div>
            </fieldset>
        </form>

    </div>
</template>
