<template name="homeBlog">
    <div class="home-section home-section-blog home-section-border-bottom">
        <div class="container">
            <h3 class="home-section-title">Academy Blog</h3>
            <div class="home-section-blog-articles-wrap">
                <div class="row">
                    <div class="col xs-12 col-sm-6 col-md-4 home-section-blog-article">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/assets/photo.png">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">One Piece of Career Advice That Will Always Be True</h4> During your job or internship hunt, you will likely be exposed to hundreds of pieces of career advice...
                                <a href="#">Read more <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col xs-12 col-sm-6 col-md-4 home-section-blog-article">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/assets/photo.png">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">One Piece of Career Advice That Will Always Be True</h4> During your job or internship hunt, you will likely be exposed to hundreds of pieces of career advice...
                                <a href="#">Read more <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col xs-12 col-sm-6 col-md-4 home-section-blog-article">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="/assets/photo.png">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">One Piece of Career Advice That Will Always Be True</h4> During your job or internship hunt, you will likely be exposed to hundreds of pieces of career advice...
                                <a href="#">Read more <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
