<template name="employee">
    <div class="container">
        <div class="row profile-wrap">
            <div class="col-xs-12 col-sm-8 profile-column">
                <div class="profile-card">
                    <div class="profile-card-image">
                        <img src="/assets/profile-female2.jpg">
                        <span class="placeholder-image placeholder-image-square hidden"></span>
                    </div>
                    <div class="profile-card-info">
                        <div class="profile-card-premium">
                            <i class="fa fa-certificate"></i> Premium
                            <i class="placeholder-icon hidden"></i> <span class="placeholder-text hidden">Premium</span>
                        </div>
                        <h4 class="profile-card-user-name">
                            Kemi Olayinka
                            <span class="placeholder-text hidden">Intern's full name goes here</span>
                        </h4>
                        <div class="profile-card-education-summary">
                            Computer Science Undergraduate at University of Lagos
                            <span class="placeholder-text hidden">Some details about the intern's education here too!</span>
                        </div>
                        <div class="profile-card-line-wrap">
                            <div class="profile-card-label">Looking for:</div>
                            <div class="profile-card-value">
                                <span class="label label-default">Internship</span>
                                <span class="label label-success">Job shadowing</span>
                                <span class="label label-primary">Apprenticeship</span>
                                <span class="label label-info">Volunteering</span>
                            </div>
                        </div>
                        <div class="profile-card-line-wrap">
                            <div class="profile-card-label">Preferred industries:</div>
                            <div class="profile-card-value">Technology, Health, Agriculture</div>
                        </div>
                    </div>
                </div>

                <ul class="nav profile-tabs">
                    <li class="active">
                        <a href="http://sesewa.herokuapp.com/intern/profile.php#experience" data-toggle="tab">
                            <i class="fa fa-briefcase"></i> Experience
                        </a>
                    </li>
                    <li>
                        <a href="http://sesewa.herokuapp.com/intern/profile.php#academy" data-toggle="tab">
                            <i class="fa fa-graduation-cap"></i> Learning
                        </a>
                    </li>
                    <li>
                        <a href="http://sesewa.herokuapp.com/intern/profile.php#inbox" data-toggle="tab">
                            <i class="fa fa-inbox"></i> Inbox
                        </a>
                    </li>
                </ul>
                <div class="tab-content profile-tab-content">
                    <div role="tabpanel" class="tab-pane active" id="experience">
                        Experience
                    </div>
                    <div role="tabpanel" class="tab-pane" id="academy">
                        Learning
                    </div>
                    <div role="tabpanel" class="tab-pane inbox-tab-pane" id="inbox">
                        <div class="inbox-list">
                            <a class="inbox-item" href="http://sesewa.herokuapp.com/intern/inbox.php">
                                <div class="inbox-item-image">
                                    <img src="/assets/hp_logo.png">
                                </div>
                                <div class="inbox-item-content">
                                    <div class="inbox-item-title">
                                        <span class="inbox-item-username">HP Nigeria</span>
                                        <span class="inbox-item-datetime">9:35</span>
                                    </div>
                                    <div class="inbox-item-message">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti labore nam quaerat, quidem soluta! Atque dolorum, quis.
                                    </div>
                                </div>
                            </a>
                            <a class="inbox-item" href="http://sesewa.herokuapp.com/intern/inbox.php">
                                <div class="inbox-item-image">
                                    <img src="/assets/hp_logo.png">
                                </div>
                                <div class="inbox-item-content">
                                    <div class="inbox-item-title">
                                        <span class="inbox-item-username">HP Nigeria</span>
                                        <span class="inbox-item-datetime">Yesterday</span>
                                    </div>
                                    <div class="inbox-item-message">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti labore nam quaerat, quidem soluta! Atque dolorum, quis.
                                    </div>
                                </div>
                            </a>
                            <a class="inbox-item" href="http://sesewa.herokuapp.com/intern/inbox.php">
                                <div class="inbox-item-image">
                                    <img src="/assets/hp_logo.png">
                                </div>
                                <div class="inbox-item-content">
                                    <div class="inbox-item-title">
                                        <span class="inbox-item-username">HP Nigeria</span>
                                        <span class="inbox-item-datetime">Tuesday</span>
                                    </div>
                                    <div class="inbox-item-message">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti labore nam quaerat, quidem soluta! Atque dolorum, quis.
                                    </div>
                                </div>
                            </a>
                            <a class="inbox-item" href="http://sesewa.herokuapp.com/intern/inbox.php">
                                <div class="inbox-item-image">
                                    <img src="/assets/hp_logo.png">
                                </div>
                                <div class="inbox-item-content">
                                    <div class="inbox-item-title">
                                        <span class="inbox-item-username">HP Nigeria</span>
                                        <span class="inbox-item-datetime">Apr 21</span>
                                    </div>
                                    <div class="inbox-item-message">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti labore nam quaerat, quidem soluta! Atque dolorum, quis.
                                    </div>
                                </div>
                            </a>
                            <a class="inbox-item" href="http://sesewa.herokuapp.com/intern/inbox.php">
                                <div class="inbox-item-image">
                                    <img src="/assets/hp_logo.png">
                                </div>
                                <div class="inbox-item-content">
                                    <div class="inbox-item-title">
                                        <span class="inbox-item-username">HP Nigeria</span>
                                        <span class="inbox-item-datetime">17/02/2015</span>
                                    </div>
                                    <div class="inbox-item-message">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deleniti labore nam quaerat, quidem soluta! Atque dolorum, quis.
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 profile-sidebar">
                <div class="profile-sidebar-card">
                    <div class="profile-sidebar-card-title">OPPORTUNITIES</div>
                    <div class="opportunity opportunity--sidebar">
                        <div class="opportunity-image">
                            <img src="/assets/photo1.png" alt="64x64">
                        </div>
                        <div class="opportunity-content">
                            <a href="http://sesewa.herokuapp.com/opportunities/view.php" class="opportunity-title">Volunteers needed for the Lagos Fashion Week 2016</a>
                            <div>
                                <span class="opportunity-company">Style House Files</span> |
                                <span class="opportunity-location">Lagos NG</span>
                            </div>
                            <span class="label label-default">Volunteering</span>
                        </div>
                    </div>
                    <div class="opportunity opportunity--sidebar">
                        <div class="opportunity-image">
                            <img src="/assets/photo1.png" alt="64x64">
                        </div>
                        <div class="opportunity-content">
                            <a href="http://sesewa.herokuapp.com/opportunities/view.php" class="opportunity-title">Volunteers needed for the Lagos Fashion Week 2016</a>
                            <div>
                                <span class="opportunity-company">Style House Files</span> |
                                <span class="opportunity-location">Lagos NG</span>
                            </div>
                            <span class="label label-default">Volunteering</span>
                        </div>
                    </div>
                    <a href="http://sesewa.herokuapp.com/opportunities/" class="profile-sidebar-card-footer">
                        View more opportunities
                    </a>
                </div>

                <div class="profile-sidebar-card">
                    <div class="profile-sidebar-card-title">FEATURED POSTS</div>
                    <div class="media-list">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-featured media-featured-square-small">
                                    <a href="http://sesewa.herokuapp.com/blog/view.php">
                                        <img class="media-object" src="/assets/photo.png">
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://sesewa.herokuapp.com/blog/view.php">One Piece of Career Advice That Will Always Be True</a></h4>

                                <div class="media-meta">
                                    <div class="media-meta-item">
                                        <i class="fa fa-clock-o"></i> May 23, 2016
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <div class="media-featured media-featured-square-small">
                                    <a href="http://sesewa.herokuapp.com/blog/view.php">
                                        <img class="media-object" src="/assets/photo.png">
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://sesewa.herokuapp.com/blog/view.php">One Piece of Career Advice That Will Always Be True</a></h4>

                                <div class="media-meta">
                                    <div class="media-meta-item">
                                        <i class="fa fa-clock-o"></i> May 23, 2016
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{> setupModal}}
</template>
