
span.select2:nth-child(4){
    display: none;
}

.select2.select2-container.select2-container--default.select2-container--below{
    display: block;
}


#dropzone{
    border: 1px dashed #aaa;
    height: 180px;
    background-color: #fff;
    font-size: 22px;
    color: #999;
    text-align: center;
    padding-top: 5%;
    cursor: pointer;
}

#dropzone:hover{
    background-color: #ccc;
    border: 1px dashed green;
}
#dropzone h1{
    font-size: 64px;
    color:#999;
}

#dropzone h3{
    font-size: 16px;
    color:#999;
}
#dropzone p{
    font-size: 12px;
    color:#222;
}


#uploaded-image{
    display: none;
}

.fileInput{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#uploaded-image{display: none;}
.select2-container{display:block;width:100% !important}

.verified-thumb{
    position: fixed;
    z-index: 100;
    left: 15px;
    color: green;
    border: 1px green solid;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 3px 2px 6px #999;
}

.loading-message {
  color: #F38E3B;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.spinner {
  width: 60px;
  height: 60px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
