<template name="opportunitiesMi">
    <div class="container">
        <h2 class="employer-setup-page-title">
            Opportunities
        </h2>
        <div class="l-fixed-page">
            <div class="margin-t-10 margin-b-30 row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="text-center text-muted text-uppercase margin-b-5">Find Opportunities</div>
                    {{> searchForm }}
                </div>
            </div>
            <hr>
            <div class="row">
               {{#each getOpportunities}}
                <div class="col-xs-12 col-sm-6">
                    <div class="opportunity">
                        <div class="opportunity-image">
                            <img src="{{owner.image}}" alt="64x64">
                        </div>
                        <div class="opportunity-content">
                            <a href="/opportunity/{{_id}}/{{slug}}" class="opportunity-title">{{title}}</a>
                            <div>
                                <span class="opportunity-company">{{owner.username}}</span> |
                                <span class="opportunity-location">{{location}} NG</span>
                            </div>
                            <span class="label label-default">{{opportunity_type}}</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>
