<template name="singleOpportunity">
    <div class="container">


        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="profile-card profile-card-for-content">
                    <h2 class="margin-t-5">{{title}}</h2>
                    <div class="article-meta clearfix">
                        <span class="article-meta-item">
                            Posted {{fromNow createdAt}} by <span class="company-name">{{owner.username}}</span>
                        </span>
                        <span class="article-meta-item">
                            <i class="fa fa-clock-o"></i>
                            Expires: {{formatDate expiresAt}}
                        </span>
                        <span class="article-meta-item">
                            <i class="fa fa-map-marker"></i>
                            {{location}}, NG
                        </span>
                        <span class="article-meta-item">
                            <i class="fa fa-calendar"></i>
                            Duration: {{duration}} months
                        </span>
                        <span class="article-meta-item">
                            ₦ {{salary}}/month
                        </span>
                    </div>
                    <div class="clearfix">
                        <div class="responsive-left">
                            {{> shareButtons}}
                        </div>
                        <div class="responsive-right">
                            {{#if isUserRole currentUser._id 'employee'}}
                            <a href="http://sesewa.herokuapp.com/intern/profile.php" class="btn btn-primary btn-rounded margin-t-5 margin-b-15">
                                <span class="fa fa-save"></span> Save this opportunity
                            </a>
                            {{/if}}
                        </div>
                    </div>
                    <hr class="margin-t-0"> {{{description}}}
                    <br>
                    <div>
                        <h4 class="heading-with-underline">Requirements</h4> {{{requirements}}}
                    </div>
                    <br>
                    <div>
                        <h4 class="heading-with-underline">Applications</h4>
                        <div class="profile-photos-overlap profile-photos-overlap-inline">

                            <ul class="profile-photos-overlap-list">
                                {{applicantsImages applicants}} {{#each appImagesResult}}
                                <li>
                                    <img src="{{this}}" alt="Profile Photo" title="Kunle A.">
                                </li>
                                {{else}}
                                <li>There are no applications yet</li>
                                {{/each}}
                            </ul>
                            <div class="profile-photos-overlap-text">
                                {{applicants.length}}
                            </div>

                        </div>

                        {{#if isOwner currentUser._id owner.id}}
                        <a href="#" class="btn btn-lg btn-primary btn-rounded margin-t-10" data-toggle="modal"
                               data-target="#applicantsModal">View Applicants</a>
                        {{else}}
                        <a href="/opportunity/{{_id}}/{{slug}}" class="btn btn-lg btn-primary btn-rounded margin-t-10 width-120 apply">Apply</a>

                        {{/if}}

                    </div>
                </div>
            </div>
            <!--            sidebar starts-->
            <div class="col-xs-12 col-md-4">
                <div class="profile-sidebar-card">
                    {{getOwner owner.id}} {{#with currentOwner}}
                    <div class="profile-sidebar-card-title">About the Company</div>
                    <div class="profile-company-logo profile-company-logo-sm">
                        <img src="{{this.setUp.image}}">
                    </div>
                    <hr class="margin-t-10 margin-b-10">
                    <h2 class="profile-company-name profile-company-name-sm"> {{this.username}} </h2> {{{this.setUp.company_description}}} {{/with}}
                </div>
                <div class="profile-sidebar-card">
                    <div class="profile-sidebar-card-title">SIMILAR OPPORTUNITIES</div>
                    <div class="opportunity opportunity--sidebar">
                        <div class="opportunity-image">
                            <img src="/assets/photo1.png" alt="64x64">
                        </div>
                        <div class="opportunity-content">
                            <a href="/opportunity/{{_id}}/{{slug}}" class="opportunity-title">Volunteers needed for the Lagos Fashion Week
                                    2016</a>
                            <div>
                                <span class="opportunity-company">Style House Files</span> |
                                <span class="opportunity-location">Lagos NG</span>
                            </div>
                        </div>
                    </div>
                    <div class="opportunity opportunity--sidebar">
                        <div class="opportunity-image">
                            <img src="/assets/photo1.png" alt="64x64">
                        </div>
                        <div class="opportunity-content">
                            <a href="/opportunity/{{_id}}/{{slug}}" class="opportunity-title">Volunteers needed for the Lagos Fashion Week
                                    2016</a>
                            <div>
                                <span class="opportunity-company">Style House Files</span> |
                                <span class="opportunity-location">Lagos NG</span>
                            </div>
                        </div>
                    </div>
                    <a href="http://sesewa.herokuapp.com/opportunities/" class="profile-sidebar-card-footer">
                        View more opportunities
                    </a>
                </div>
                <div class="profile-sidebar-card">
                    <div class="profile-sidebar-card-title">FEATURED POSTS</div>
                    <div class="media-list">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-featured media-featured-square-small">
                                    <a href="http://sesewa.herokuapp.com/blog/view.php">
                                        <img class="media-object" src="/assets/photo.png">
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://sesewa.herokuapp.com/blog/view.php">One Piece of
                                            Career Advice That Will Always Be True</a></h4>

                                <div class="media-meta">
                                    <div class="media-meta-item">
                                        <i class="fa fa-clock-o"></i> May 23, 2016
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <div class="media-featured media-featured-square-small">
                                    <a href="http://sesewa.herokuapp.com/blog/view.php">
                                        <img class="media-object" src="/assets/photo.png">
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://sesewa.herokuapp.com/blog/view.php">One Piece of
                                            Career Advice That Will Always Be True</a></h4>

                                <div class="media-meta">
                                    <div class="media-meta-item">
                                        <i class="fa fa-clock-o"></i> May 23, 2016
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <div class="media-featured media-featured-square-small">
                                    <a href="http://sesewa.herokuapp.com/blog/view.php">
                                        <img class="media-object" src="/assets/photo.png">
                                    </a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="http://sesewa.herokuapp.com/blog/view.php">One Piece of
                                            Career Advice That Will Always Be True</a></h4>

                                <div class="media-meta">
                                    <div class="media-meta-item">
                                        <i class="fa fa-clock-o"></i> May 23, 2016
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            sidebar ends-->
        </div>
    </div>
    <div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="apply" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="applyModalLabel">Apply for this Opportunity</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">Add your CV or required document(s)</label>
                            <input type="file" class="form-control" name="cv" id="cv">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{#if isOwner currentUser._id owner.id }}

    <div class="modal fade" id="applicantsModal" tabindex="-1" role="dialog" aria-labelledby="applicantsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="applicantsModalLabel">View &amp; Select Applicants</h4>
                        <div class="text-muted">Click on each applicant to select them</div>
                    </div>
                    <div class="modal-body">
                        <div class="users">
                            <div class="user">
                                <div class="user-select">
                                    <input id="applicant_0" type="checkbox">
                                    <label for="applicant_0">
                                    </label>
                                </div>
                                <a href="/intern/profile.php?is_employer" class="user-image">
                                    <img src="/assets/img/profile/profile-female1.jpg" alt="">
                                </a>
                                <div class="user-content">
                                    <a href="/intern/profile.php?is_employer" class="user-username">Hello all</a>
                                    <div class="user-tagline">Computer undergraduate at University of Lagos</div>
                                    <div class="user-details">CGPA: 4.56 Interested in Volunteering, etc</div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="user-select">
                                    <input id="applicant_1" type="checkbox">
                                    <label for="applicant_1">
                                    </label>
                                </div>
                                <a href="/intern/profile.php?is_employer" class="user-image">
                                    <img src="/assets/img/profile/profile-female1.jpg" alt="">
                                </a>
                                <div class="user-content">
                                    <a href="/intern/profile.php?is_employer" class="user-username">Hello all</a>
                                    <div class="user-tagline">Computer undergraduate at University of Lagos</div>
                                    <div class="user-details">CGPA: 4.56 Interested in Volunteering, etc</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="selectApplicantsBtn">Select Applicants
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        {{/if}}
</template>
