<template name="dropzoneMi">

    <label for="file" id="dropzone" class="dropzone">
        <h1><i class="fa fa-picture-o" aria-hidden="true"></i></h1>
        <h3>Drag &amp; Drop your image here to upload</h3>
        <p class="text-center">or click toselect one</p>
        <input type="file" id="file" class="fileInput" />
    </label>
    <!--<h1><i class="fa fa-picture-o" aria-hidden="true"></i></h1>
        <h3>Drop File here to upload</h3>
    </div>-->
    <h1 class="text-center" id="spinner" style="margin: 10% auto;">{{> spinner}}</h1>
</template>
